@import 'setup';


// VARIABLES
$Droid: 'Droid Sans Mono' ;
$Lato: 'Lato', sans-serif;
$teal: #378976;
$white: #FFFFFF;
$gold: #DB9F3C;
$grey: #A8B8B8;

// MIXINS
@mixin font-size($size-value){
	font-size: $size-value * 1px;
	font-size: ($size-value/10)*1rem;
}


//STYLING

html {
	font-size: 62.5%;
	line-height: 1.357;
}

body {
	font-family: $Lato;
	background: $grey;
}

h1, h2, h3, h4, h5, p, li {
	margin: 0;
	padding: 0;
}

h1 {
	@include font-size(55);
	color: $gold;
}

h2 {
	@include font-size(25);
}

h3 {
	@include font-size(18);
}

p {
	@include font-size(16);
}





//HEADER

header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	.flex-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		img.laptop-svg {
			width: 80px;
		}
	}

	.form-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}


}

input#search-query {
	width: 30%;
	font-size: 2.5rem;
	padding: 9px;
}

input#submit {
	font-size: 2.5rem;
	padding: 12px;
}

select#search-country {
	width: 30%;
	background-position: 93% 50%; 
	border: none;
	border-radius: 0;
	outline: 1px solid lightgrey;
	padding: 10px 20px;
	color: lightgrey;
	-webkit-appearance: none;
	font-size: 2.5rem;
}

.header-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	transform: translate(-50%, -50%);
	}
}


// RESULTS

section.results {
	background: $teal;
}


